/target
/classes
/checkouts
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
/.lein-*
/.nrepl-port
/out
/.repl
*.log
/.env
.shadow-cljs
node_modules
output.*
.cache
.lsp
.clj-kondo
.cpcache
*.cp
.DS_Store
yarn.lock
desktop
public/main.js
/resources/public/js
/resources/public/models
/resources/public/temp
/resources/public/mp3
/resources/public/private