{:paths ["src" "public"]

 :deps {thheller/shadow-cljs {:mvn/version "2.11.14"}
        applied-science/js-interop {:mvn/version "0.2.7"}
        binaryage/devtools {:mvn/version "1.0.0"}
        com.lucasbradstreet/cljs-uuid-utils {:mvn/version "1.0.2"}
        cljs-bean/cljs-bean {:mvn/version "1.6.0"}
        cljs-http/cljs-http {:mvn/version "0.1.46"}
        datascript/datascript {:mvn/version "1.1.0"}
        datascript-transit/datascript-transit {:mvn/version "0.3.0"}
        denistakeda/posh {:mvn/version "0.5.8"}
        funcool/cuerdas {:mvn/version "2.2.0"}
        integrant/integrant {:mvn/version "0.8.0"}
        metosin/reitit {:mvn/version "0.5.1"}
        nrepl/nrepl {:mvn/version "0.8.3"}
        pez/clerk {:mvn/version "1.0.0"}
        reagent/reagent {:mvn/version "1.0.0"}
        reagent-utils/reagent-utils {:mvn/version "0.3.3"}
        venantius/accountant {:mvn/version "0.2.5"}
        lilactown/helix {:mvn/version "0.1.0"}}}



















