{:deps true

 :builds
 {:astro {:target     :browser
          :output-dir "resources/public/js"
          :asset-path "/js"
          :modules {:app {:entries [astronomy.app.solar]
                          :init-fn astronomy.app.solar/init!}}
          :devtools {:after-load astronomy.app.solar/update!}}

  :webapp {:target     :browser
           :output-dir "resources/public/js"
           :asset-path "/js"
           :modules {:app {:entries [film2.app.cinema]
                           :init-fn film2.app.cinema/init!}}
           :devtools {:after-load film2.app.cinema/update!}}
  :desktop {:target     :browser
            :output-dir "desktop/js"
            :asset-path "/js"
            :modules {:app {:entries [film2.app.cinema]
                            :init-fn film2.app.cinema/init!}}
            :devtools {:after-load film2.app.cinema/update!}}
  :electron {:target :node-script
             :output-to "desktop/main.js"
             :main electron.main.core/main}

  :extension {:target     :browser
              :output-dir "resources/public/js"
              :asset-path "/js"
              :modules {:app {:entries [extension.moxool]
                              :init-fn extension.moxool/init!}}
              :devtools {:after-load extension.moxool/update!}}}

 :dev-http {5001 "resources/public"}
 ;
 }

