{:deps true

 :builds
 {:app {:target     :browser
        :output-dir "public/js"
        :asset-path "/js"
        :modules
        {:app {:entries [astronomy.app.dev-component]
               :init-fn astronomy.app.dev-component/init!}}
        :devtools {:after-load astronomy.app.dev-component/update!}}}
;  
}

