{:deps true

 :builds
 {:lab {:target     :browser
        :output-dir "resources/public/js"
        :asset-path "/js"
        :modules {:app {:entries [laboratory.app.playground]
                        :init-fn laboratory.app.playground/init!}}
        :devtools {:after-load laboratory.app.playground/update!
                   :http-root   "resources/public"
                   :http-port   4001}}
  :webapp {:target     :browser
           :output-dir "resources/public/js"
           :asset-path "/js"
           :modules {:app {:entries [film2.app.cinema]
                           :init-fn film2.app.cinema/init!}}
           :devtools {:after-load film2.app.cinema/update!
                      :http-root   "resources/public"
                      :http-port   4001}}
  :desktop {:target     :browser
            :output-dir "desktop/js"
            :asset-path "/js"
            :modules {:app {:entries [film2.app.cinema]
                            :init-fn film2.app.cinema/init!}}
            :devtools {:after-load film2.app.cinema/update!
                       :http-root   "desktop"
                       :http-port   4001}}
  :electron {:target :node-script
             :output-to "desktop/main.js"
             :main electron.main.core/main}}

;  
 }

